.bod{
	position: absolute;
	top: 30px;
	right: 50px;
	bottom: 50px;
	left: 40px;
	opacity: 0.2
}
.log{
	position: absolute;
    opacity: 1;
    padding: 10px;
    border: 2px solid black;
    margin-left: 35%;
    margin-right:35%;
    margin-top: 10%;
    background-color:brown;
}
